header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-color: #ffffff;
  z-index: 100;
}

.logo img {
  width: 140px;
  height: 33px;
  margin-left: 80px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 100px;
}

nav li {
  margin-left: 1em;
}

nav a {
  color: #555;
  font-size: 14px;
  text-decoration: none;
}

nav a:hover {
  color: #00000050;
}

@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }

  .logo {
    margin-right: auto;
    margin-bottom: 1em;
  }

  nav {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  nav ul {
    margin-left: auto;
    margin-right: auto;
  }

  nav li {
    margin: 0 0.5em;
  }

  .menu {
    margin-left: 2px;
    text-align: center;
  }

  .menu li {
    display: inline-block;
    margin: 0 10px;
  }

  .bg2 {
    margin-top: 80px;
  }
  
  .bg2 img {
    width: 90%;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 30%;
    text-align: left;
    color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
    max-height: 50%;
    overflow: hidden;
  }
  
  .overlay h2 {
    font-size: 1em;
    margin-bottom: 0.5em; /* Modification */
    font-family: 'Poppins', sans-serif;
  }
  
  .overlay p {
    font-size: 0.8em; /* Modification */
    font-family: 'Poppins', sans-serif;
  }
}

.bg2 {
  position: relative;
  text-align: center;
  margin-top: 100px;
}

.bg2 img {
  width: 90%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 30%;
  text-align: left;
  color: white;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
  max-height: 50%;
  overflow: hidden;
}

.overlay h2 {
  font-size: 1.2em;
  margin-bottom: 1.25em;
  font-family: 'Poppins', sans-serif;
}

.blue-text {
  color: lightskyblue;
}

.overlay p {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.nosservices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
}

.titre2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.texte-services {
  text-align: center;
  font-size: 14px;
}

.displayapple {

margin-top: 4em;

}